/**
 * Disabled button user has no permission to use.
 */
/*a.disabled{color: #fef5ec; margin-right: 15px; font-size: 12px; line-height:12px; padding:4px 10px;
			  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
			  background-color: grey;
              background: -webkit-linear-gradient(top, #99CC99, #99CC99); 
              background: -moz-linear-gradient(top, #99CC99, #99CC99); 
              background: -ms-linear-gradient(top, #99CC99, #99CC99); 
              background: -o-linear-gradient(top, #99CC99, #99CC99);
              background: linear-gradient(top, #99CC99, #99CC99); }*/
              