@(SubjectId: String, sub_sess:Map[String, (String, List[(String, Int, Int, Option[String], Option[java.math.BigDecimal], Option[java.math.BigDecimal], Int)])], studyNo:Int, userName: String, videos:  Map[String, List[(String, String, String)]], study_type: Int, sub_sess_menu: List[(String, Long, String)], generalList: List[(Int, Int, Int)], studyName: String, audio:  Map[String, List[(String, String, String)]], inProgressSubjects: List[String], currentSession: String, Otacs: String)
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">

        .markerStyle
        {
        position: absolute;
        left: 40px;
        top: 50px;
        transition: left .5s ease-in, top .5s ease-in;
        width:0.0em;
        height:14.5em;
        #border-left: thick solid #99ccff;
        border-left: thick solid pink;
        white-space:nowrap;
        padding:0.5em;
        z-index: 10;
        }


.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}


       .blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}
@@keyframes blink {
    80% {
        visibility: hidden;
    }
}


    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SubjectBook - Real-time Signal</title>
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/styles.css" rel="stylesheet">

    <!-- <script src="http://code.jquery.com/jquery-1.10.2.js"></script> -->
    <!--<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->

    <!--[if lt IE 9]>
    <script src="/assets/javascripts/html5shiv.js"></script>
    <script src="/assets/javascripts/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- <script type='text/javascript' src='@routes.Assets.at("javascripts/changevideo.js")'></script> -->
    <script type='text/javascript' src='@routes.Assets.at("javascripts/showingSignalRealTime.js")'></script>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/jquery-ui-1.9.2.css">


    <script src="/assets/javascripts/bootstrap.min.js"></script>
    <script src="/assets/javascripts/chart.min.js"></script>
    <script src="/assets/javascripts/chart-data.js"></script>
    <script src="/assets/javascripts/easypiechart.js"></script>
    <script src="/assets/javascripts/easypiechart-data.js"></script>
    <script src="/assets/javascripts/bootstrap-datepicker.js"></script>
    <script>

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });


		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
        // this is to unfold the subject list
        $(document).ready(function(){
        $('ul.nav li.parent > a > span.icon').trigger("click");
        });

</script>









    <!-- Ignite UI Required Combined CSS Files -->
    <link href="/assets/stylesheets/infragistics.theme.css" rel="stylesheet">
    <!-- <link href="http://cdn-na.infragistics.com/igniteui/2015.1/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" /> -->
    <!--  <link href="http://cdn-na.infragistics.com/igniteui/2015.1/latest/css/structure/infragistics.css" rel="stylesheet" />-->

    <!-- Used to style the API Viewer and Explorer UI -->
    <!--  <link href="http://www.igniteui.com/css/apiviewer.css" rel="stylesheet" type="text/css" /> -->

    <!--<script src="http://modernizr.com/downloads/modernizr-latest.js"></script> -->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2015.1/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2015.1/latest/js/infragistics.dv.js"></script>


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Subject</span>Book</a> <a class="navbar-brand" href="/allStudies"><span></span>My Studies</a>
            <!-- <a class="navbar-brand" href="#"><span></span>Share</a> -->
            <a class="navbar-brand" href="/frontPage"><span></span>Help</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @userName <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">

        <li><a href="/allStudies"><span class="glyphicon glyphicon-th"></span> My Studies </a></li>
        <li><a href="/createStudy"><span class="glyphicon glyphicon-pencil"></span> New Study</a></li>
        <li><a href="/showAllDataTypes"><span class="glyphicon glyphicon-cog"></span> Manage your Data</a></li>
        <li><a href="/showAllPsychometric"><span class="glyphicon glyphicon-cog"></span> Manage your Psychometric data</a></li>
        <li class="parent ">
            <a href="#">
                <span class="glyphicon glyphicon-list"></span> In Progress Subjects <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>
            <ul class="children collapse1">
                @for(sub <- inProgressSubjects){
                <li>
                    <a class="newSubj" href="/displaySubject?studyNo=@studyNo&SubjectId=@sub">
                        <div  class="blink"> <span class="glyphicon glyphicon-user" style="color:red"></span> <b style="color:red" class="blink"> @sub  </b> </div>
                    </a>
                </li>
                }
            </ul>
            <!--<a href="#">
               <span class="glyphicon glyphicon-list"></span> Subjects <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
           </a>

           <ul class="children collapse" id="sub-item-1">
               @for((subject, count, grp) <- sub_sess_menu){
               <li>

                   <a class="" href="/displaySubject?studyNo=@studyNo&SubjectId=@subject">
                       @if(count > 0) {
                       @if(grp == "SIT") {
                       <span class="glyphicon glyphicon-user" style="color:red"></span> <b style="color:red"> @subject  [@grp] </b>
                       } else { @if(grp == "Control") {
                       <span class="glyphicon glyphicon-user" style="color:green" ></span> <b style="color:green"> @subject [@grp]  </b>
                       }  else {
                       <span class="glyphicon glyphicon-user" ></span> <b> @subject   </b>
                       }

                       }
                       } else {
                       <span class="glyphicon glyphicon-user" style="color:grey"></span> <b style="color:grey"> @subject </b>
                       }

                   </a>
               </li>


               }

           </ul> -->
        </li>
        <li role="presentation" class="divider"></li>

    </ul>

</div><!--/.sidebar-->

<div id = 'main' class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <!-- <img src="/assets/images/ajax-loader.gif" alt="Mountain View" style="width:304px;height:228px"> -->
    <!-- <img src="/assets/images/ajax-loader.gif" alt="Mountain View" style="width:304px;height:228px"> -->

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/allStudies"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active"><a href="/showStudy/@studyNo">@studyName </a> </li>
            <li class="active"><a href="/showStudySkipTop/@studyNo">User Portrait </a> </li>
            <li>@SubjectId</li>



            <!-- <li><button id ='hideSideBar'><a href="/file">toggle</a></button></li> -->
        </ol>
    </div><!--/.row-->
    <div class="row">
        </br>
    </div>

    <div class="row" id ="allInfo">


        <!-- <a href="/showRadar?SubjectId=@SubjectId&studyNo=@studyNo"> Show Session view </a> -->

        @for(temp <- generalList){

        <div class="col-md-4" id="generalData@temp._1@temp._2"  subject="@SubjectId" session="sss" signalSequence="@temp._1" signalCode="@temp._2" dataType="@temp._3" studyId=@studyNo style="display: none;">

        </div>

        }



    </div><!--/.row-->
   <!-- <audio controls id ="myAudio">
        <source src='@routes.Assets.at("output.mp3")' type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> -->
    <div class="">
        <div class="panel panel-default">
            <div class="panel-body tabs">
                @import java.math.BigInteger; var i=1;
                <ul class="nav nav-tabs">
                    @for((name,session) <- sub_sess){
                    @if(i == 1) {
                    <li class="active"><a  href="#@session._1" id="link@session._1" class="onesignal" subject="@SubjectId" session="@session._1" newSessionName="@name" currentSession ="@currentSession" studyId=@studyNo  occupied ="no" data-toggle="tab">@name.replaceFirst("(\\d*\\s*)", "")</a></li>
                    } else {
                    <li><a  href="#@session._1" id="link@session._1" class="onesignal" subject="@SubjectId" session="@session._1" newSessionName="@name" currentSession ="@currentSession" studyId=@studyNo  occupied ="no" data-toggle="tab">@name.replaceFirst("(\\d*\\s*)", "")</a></li>
                    }
                    @{i = i + 1;}
                    }
                </ul>

                <div class="tab-content">


                    @import java.math.BigInteger; var j =1; var t =1; var r=1;
                    @for((name,sessions) <- sub_sess){
                    @if(j == 1) {
                    <div id="@sessions._1" class="tab-pane fade in active">
                        } else {
                        <div id="@sessions._1" class="tab-pane fade">
                            }
                            @{j = j + 1;}
                            @{r = 1}
                            @{t = 1}
                            @for(signal <- sessions._2){
                            <!-- to avoid the non signal files -->
                            @if(signal._3 == 1 || signal._3 == 3 || signal._3 == 4|| signal._3 == 5) {
                            <div  id="dashboard_div@sessions._1@signal._2">
                                <div id="chart@sessions._1@signal._2" class="chart" subject="@SubjectId" session="@sessions._1" newSessionName="@name" signalSequence="@signal._2" signalType="@signal._3" yTitle = "@signal._4" ymin ="@signal._5" ymax ="@signal._6"  log = "@signal._7" style="height: 250px;">

                                    <div class="col-xs-12 col-sm-12 progress-container">
                                        <P> Signal is being generated please wait..</P>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" style="width:0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<br> -->

                            <!--<br> -->
                            @if(signal._3 == 1){
                            &nbsp;<div id="videoboard@sessions._1@signal._2" class= "video-board" name="videoboard@sessions._1@signal._2" style="position:relative; left: 40px; width: 80%; height: 400px; overflow-x:scroll;  white-space: nowrap;">
                            <div class="button-station"> <a id = "showvideo@sessions._1@signal._2" class = "btn btn-default show-video" >Hide Videos</a>  </div>
                            <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
                            @for((sess,videoList) <- videos){

                            @if(sess == signal._1) {
                            @for(video <- videoList){
                            @if(study_type == 1) {
                            @if(r <= 1) {

                            <meta  http-equiv="X-UA-Compatible" content="IE=Edge"/>
                            <video controls="controls"  id="videofile@video._2@signal._2" width="400" height="300" class = "sal" vName ="@video._3" sess="@sessions._1" sub= "@SubjectId" >
                                <source src="" type='video/mp4'/>
                                <!--<source src="/videoC?studyNo=@studyNo&subjectId=@SubjectId&sessionName=@sessions._1&fileName=@video._3" type='video/mp4'/>-->
                                <!-- <source src="https://drive.google.com/uc?export=download&id=@video._2" type='video/mp4'/>
                                <!-- <source src="https://googledrive.com/host/@video._2" type='video/mp4'/> -->
                                <!-- <source src="/videoB" type='video/mp4'/>-->
                            </video>




                            }
                            <!--<object  id="@video" class = "vdTag">
                                <param name='movie' value='https://video.google.com/get_player?docid=0B2TDTGk9sqZLQjlxcVRxYUNqOFE&amp;ps=docs&amp;partnerid=30&amp;cc_load_policy=1'></param>
                                <param name='allowFullScreen' value='true'></param>
                                <param name='allowScriptAccess' value='always'></param>
                                <embed id='video@video._2@signal._2' src='https://video.google.com/get_player?docid=@video._2&amp;enablejsapi=1&amp;ps=docs&amp;partnerid=30&amp;cc_load_policy=1&amp;playerapiid=video@video._2@signal._2' type='application/x-shockwave-flash' allowfullscreen='true' allowScriptAccess='always' width=50% height='300'></embed>
                            </object> -->


                            } else {

                            <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
                            <video id="@video" width="640" height="264" controls>
                                <source src="/videoB" controls type='video/mp4' >
                                <source src="file:///@video._2"
                                        type='video/ogg; codecs="theora, vorbis"'>
                                Your user agent does not support the HTML5 Video element.
                            </video>

                            } <!-- else -->

                            } <!-- video List -->
                            @{r = r + 1}
                            } <!-- if sess== session._1 -->
                            }<!-- main for for videos -->


                            @for((sess,videoList) <- audio){
                            @if(sess == signal._1) {
                            @for(video <- videoList){
                            @if(study_type == 1) {
                            @if(t == 1) {
                            <!-- <audio controls="controls" id="@video._2"  src="https://googledrive.com/host/@video._2" type=audio/x-wav" width="400" height="300" class = "sal" vName ="@video._3" sess="@sessions._1" sub= "@SubjectId"> </audio> -->
                            <audio controls id="@video._2" width="400" height="300" class = "sal"  vName ="@video._3" sess="@sessions._1" sub= "@SubjectId">
                                <source src="" type="audio/mpeg">
                                <p id = "@t" >Your browser does not support the <code>audio</code> element </p>
                            </audio>
                            }
                            }
                            @{t = t + 1}
                            } <!-- video List -->

                            } <!-- if sess== session._1 -->
                            }<!-- main for for videos -->

                            <br>
                            <a id = "stopvideo@sessions._1@signal._2"  class="btn btn-default">Stop Videos</a>   &nbsp; &nbsp;
                        </div>

                            } <!-- check the sequence number  -->
                            } <!-- check the type of signal -->


                            }
                        </div>
                        }

                    </div>
                </div>
            </div><!--/.panel-->
        </div><!--/.col-->




    </div>	<!--/.main-->



</div>

<div id="loading" style="display:none; position: fixed;height:100%; width:100%; background: rgba( 255, 255, 255, .8 ) url('/assets/images/ajax-loader.gif') 50% 50%    no-repeat;">
</div>

</body>

</html>
